<div class="navbar" *ngIf="isFixed">
  <app-navbar></app-navbar>
</div>

<div class="top">
  <app-navbar></app-navbar>
</div>

<div class="Navigation">
  <button class="navbutton" (click)="OpenBasics()">Basics</button>
  <button class="navbutton" (click)="OpenBook()">Book</button>
  <button class="navbutton" (click)="OpenPerson()">Person</button>
  <button class="navbutton" (click)="OpenPerson()">Users</button>
  <button class="navbutton" (click)="OpenPerson()">Users</button>
</div>
<router-outlet></router-outlet>
