*{
  background-color: #0e1d2c;
}

.main-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  min-width: 375px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbuttons-container{
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.material-icons{
  border-radius: 15px;
  border: none;

  background-color: #263752;

  color: #e0dddd;
  font-size: 35px;

  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 9px;
  margin-right: 9px;
}
.material-icons:hover{
  cursor: pointer;

  background-color: #314e7c;

  transition: all 0.4s;
}
#login {
  float: right;
  clear: both;

  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 24px;

  padding: 10px;
  padding-left: 12px;
  padding-right: 15px;
}
#expand{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #314e7c;
  font-size: 15px;
  padding: 3px;
  margin:7px;
  margin-left: 0;
  transition: 0.3s;
}
#expand:hover{
  background-color: #314e7c;
}
#expand2{
  background-color: rgba(255, 255, 255, 0);
  font-size: 23px;
  border: none;
  padding: 0;
  margin: 5px;
  text-align: center;
  transition: all 0.4s;
}
#expand3{
  background-color: rgba(255, 255, 255, 0);
  font-size: 23px;

  border: none;

  padding: 0;
  margin: 5px;

  color: orangered;
  text-align: center;

  transition: all 0.4s;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #263752;

  width: 100px;

  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.list{
  display: flex;
  background-color: #263752;
  align-items: center;
  border-radius: 20px;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list:hover{
  cursor: pointer;
  filter: brightness(120%);
}
a{
  background-color: black;
  color: white;
  text-decoration: none;
  display: block;
  float: left;

  margin-top: 10px;
  margin-bottom: 10px;

  transition: all 0.4s;
}
p{
  font-size: 12px;
  color: #e0dddd;
  background-color: #263752;
}
.p{
  font-size: 13px;
  color: orangered;
}


@media (max-width: 900px) {
  .main-container {
    position: fixed;
    bottom: 0;
    top: auto;
    padding-bottom: 0;
  }
  .material-icons:hover{
    background-color: #263752;
  }
  .dropdown-content {
    position: fixed;
    bottom: 70px;
    border-radius: 10px;
  }
  .list:hover{
    cursor: pointer;
    filter: brightness(100%);
  }
}
