<div class="main-container">
  <div class="centered">
    <div class="pic-container">
      <input class="url_input" placeholder="Picture URL:">
      <img src="" class="BookPicture">
    </div>
  </div>
  <div class="centered">
    <div class="book-data1">
      <input class="book-variable" placeholder="Title:">
      <input class="book-variable" placeholder="Publish date (mm/dd/yyyy):">
      <select class="book-variable-select" name="membership" id="membership">
        <option value=""></option>
        <option value="Upcoming">Upcoming</option>
        <option value="Released">Released</option>
      </select>
      <input class="book-variable" placeholder="Page count:">
      <textarea class="about-book" placeholder="Description:"></textarea>
      <div class="buttoncontainer">
        <button class="addbutton">Add</button>
      </div>
    </div>
  </div>
</div>
