body{
  min-width: 375px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-container{
  width: 100%;
  min-width: 375px;
  min-height: 100vh;
  height: auto;

  margin-left: auto;
  margin-right: auto;

  background:
    url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/8e35e098569979.5edf5a829a80a.jpg")
    no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.buttoncontainer{
  width: 100%;
  display: flex;
  justify-content: center;
}
.registration{
  background-color: #3f6196;
  color: white;

  border-radius: 10px;

  width: 100px;
  height: 40px;

  font-size: 20px;

  margin: 10px;

  outline: none;
  border: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.registration:hover{
  cursor:pointer;
  background-color: #4a70af;
  transition: all 0.4s;
}
.gap {
  height: 40px;
  width: 100%;
  min-width: 375px;
}
.content{
  flex-wrap: wrap;

  width: 100%;
  min-height: 100vh;

  margin-left: auto;
  margin-right: auto;

  background-color: rgba(0, 0, 0, 0.55);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container{
  width: 100%;
}
.searchdiv{
  width: 70%;
  min-width: 300px;
  max-width: 550px;
  height: 50px;

  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;

  background-color: rgba(38, 55, 82, 0.74);
  border: 2px #9cbce3 solid;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar{
  height: 40px;

  font-size: 23px;

  width: 90%;

  background-color: rgba(255, 255, 255, 0);
  outline: none;

  color: white;

  border: 1px transparent solid;
  padding: 8px;

}
i{
  font-size: 40px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
i:hover{
  cursor: pointer;
  filter: brightness(120%);
}
.Quotes{
  width: 70%;
  margin-top: 30px;
  padding-left: 7px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  width: 100%;
  color: white;
  text-align: center;
  margin: 20px;
}
h2{
  color: white;
  text-align: center;

  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h3{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.main-container2{
  width: 100%;
  max-width: 1000px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  width: 140px;
  height: 190px;
  border: 2px white solid;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
img:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.gap2{
  height: 30px;
}

.functionsdiv{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 20px;
}
.member{
  width: 80px;
  height: 85px;
  margin: 15px;

  border: 1px solid white;
  border-radius: 20px;

  background: rgba(0, 0, 0, 0.44);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}
.member:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.69);
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
.member-descr {
  width: 100%;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#icon{
  background: none;
  outline: none;
  border: none;

  margin-left: auto;
  margin-right: auto;

  font-size: 55px;

  color: white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sm-descr{
  min-width: 99%;
  padding-left: 7px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sm-img{
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.sm-img:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.69);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
.gap4-bottom-nav{
  height: 0px;
}
.bottom{
  display: none;
}
@media (max-width: 900px) {
  .gap{
    height: 10px;
  }
  img{
    width: 90px;
    height: 130px;
  }
  img:hover{
    transform: scale(1);
  }
  h1{
    font-size: 25px;
    margin-top: 40px;
  }
  h2{
    font-size: 13px;
  }
  .top {
    display: none
  }
  .bottom{
    position: absolute;
  }
  .gap4-bottom-nav{
    height: 100px;
  }

  .registration:hover{
    background-color: #3f6196;
  }
  i:hover{
    filter: brightness(100%);
  }
  img:hover{
    transform: scale(1);
  }
  .member:hover{
    background: rgba(0, 0, 0, 0.44);
    transform: scale(1);
  }
  .sm-img:hover{
    background: rgba(0, 0, 0, 0.69);
    transform: scale(1);
  }
}
@media (max-width: 780px) {
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
  }
}
