.main-container{
  width: 100%;
  min-width: 375px;
  min-height: 100vh;
  background-color: #295486;
}
.group-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-container{
  width: 375px;
  height: 600px;

  border-radius: 15px;

  background-color: #2b4575;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.content-add-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: #315796;

  border-radius: 10px;
  margin: auto;
  margin-top: 15px;

  width: 320px;
}
h3{
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 7px;
}
.socials{
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 5px;
}
.sm_icon{
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  border: 1px white solid;
}
.sm_name{
  color: white;
  font-weight: lighter;
  width: 85px;
  background-color: #263752;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  text-align: center;

  border: none;
  outline: none;
}
.addbutton{
  border-radius: 10px;
  border: none;

  background-color: #0a7ae5;

  color: #e0dddd;
  font-size: 12px;

  padding: 5px;
  margin-right: 10px;
  margin-left: 5px;
}
.addbutton:hover{
  cursor: pointer;
  background-color: #2a8ef3;
  transition: all 0.4s;
}
.sm_url_input{
  color: white;
  font-weight: lighter;
  width: 85%;
  background-color: #263752;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
  border-radius: 10px;

  border: none;
  outline: none;
}

.content-load-div{
  background-color: #315796;

  border-radius: 10px;
  margin: auto;
  margin-top: 15px;

  height: 425px;
  width: 340px;
}
.ToLoad{
  border-radius: 10px;
  border-bottom-right-radius: 2px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 8px;
  margin-top: 10px;

  background-color: #315796;

  display: block;

  overflow: auto;
  height: 93%;
  width: 340px;
}
.list-member{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: #27487a;

  border-radius: 12px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;

  width: 320px;
}
.removebutton{
  border-radius: 10px;
  border: none;

  background-color: orangered;

  color: #e0dddd;
  font-size: 12px;

  padding: 5px;
  margin-right: 10px;
  margin-left: 5px;
}
.removebutton:hover{
  cursor: pointer;
  background-color: #ff2f00;
  transition: all 0.4s;
}
.updatebutton{
  border-radius: 10px;
  border: none;

  background-color: #1c7541;

  color: #e0dddd;
  font-size: 12px;

  padding: 5px;
  margin-right: 10px;
  margin-left: 5px;
}
.updatebutton:hover{
  cursor: pointer;
  background-color: #1f884b;
  transition: all 0.4s;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

.content-load-div2{
  background-color: #315796;

  border-radius: 10px;
  margin: auto;
  margin-top: 15px;

  height: 383px;
  width: 340px;
}
.genre{
  margin-top: 5px;
}
.genre_name{
  color: white;
  font-weight: lighter;
  width: 110px;
  background-color: #263752;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;

  border: none;
  outline: none;
}
.genre-description{
  color: white;
  width: 85%;
  background-color: #263752;
  padding: 8px 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  height: 60px;

  border: none;
  outline: none;
}
.ToLoad2{
  border-radius: 10px;
  border-bottom-right-radius: 2px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 8px;
  margin-top: 10px;

  background-color: #315796;

  display: block;

  overflow: auto;
  height: 105%;
  width: 340px;
}
.list-member2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: #27487a;

  border-radius: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 5px;
  padding-bottom: 5px;

  width: 320px;
}
.role{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 310px;
  display: flex;
  justify-content: center;
}
.role-name{
  color: white;
  font-weight: lighter;
  width: 150px;
  background-color: #263752;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;

  border: none;
  outline: none;
}
.role-order{
  color: white;
  font-weight: lighter;
  width: 50px;
  background-color: #263752;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;

  border: none;
  outline: none;
}
.buttoncontainer{
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .content-container{
    margin-left: 0;
    margin-right: 0;
  }
}
