.Top{
  display: none;
}
#icons-top{
  display: none;
}
.ScrollNavbar{
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 80px;
  min-width: 375px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #112334;
  box-shadow: 0 8px 10px 2px black;

  transition: height 0.5s ease-in-out;
}
.logo-container{
  position: absolute;
  top: 5px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Bookies-icon{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
label{
  color: white;

  padding-left: 10px;

  font-family: cursive;
}
.navbuttons-container{
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item{
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin-left: 10px;
  margin-right: 5px;

  border-radius: 15px;
}
.item:hover{
  cursor: pointer;
  background-color: #243f65;
}
.material-icons{
  border-radius: 15px;
  border: none;

  background: none;
  color: white;
  font-size: 35px;

  padding: 5px;
}
.material-icons:hover{
  cursor: pointer;
}
#login{
  color: green;
}
.btn-name{
  font-size: 13px;
  color: white;
  text-align: center;
}
.list{
  display: flex;
  background-color: #182e48;
  align-items: center;
  border-radius: 20px;
  margin: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list:hover{
  cursor: pointer;
  filter: brightness(150%);
}
#expand{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #314e7c;
  font-size: 15px;
  padding: 3px;
  margin-bottom: 5px;
  transition: 0.3s;
}
#expand:hover{
  background-color: #314e7c;
}
#expand2{
  background-color: rgba(255, 255, 255, 0);
  font-size: 23px;
  border: none;
  padding: 0;
  margin: 5px;
  text-align: center;
  transition: all 0.4s;
}
#expand3{
  background-color: #182e48;
  font-size: 23px;

  border: none;

  padding: 0;
  margin: 5px;

  color: orangered;
  text-align: center;

  transition: all 0.4s;
}
.dropdown-content {
  display: none;
  position: absolute;

  background-color: #182e48;

  width: 120px;

  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
a{
  background-color: black;
  color: white;
  text-decoration: none;
  display: block;
  float: left;

  margin-top: 10px;
  margin-bottom: 10px;

  transition: all 0.4s;
}
p{
  font-size: 12px;
  color: #e0dddd;
  background-color: #182e48;
}
.p{
  font-size: 13px;
  color: orangered;
}

@media (max-width: 900px) {
  .Top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #112334;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 8px black;
  }
  .logo-container3{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .Bookies-icon3{
    height: 30px;
    width: 30px;
    border-radius: 10px;
  }
  .logo-container2{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .Bookies-icon2{
    height: 30px;
    width: 30px;
    border-radius: 10px;
  }
  .navbuttons-container2{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #icons-top{
    display: block;
    margin-right: 10px;
    font-size: 25px;
  }

  .logo-container{
    display: none;
  }
  .ScrollNavbar{
    bottom: 0;
    height: 65px;
    top: auto;
    box-shadow: 0 -5px 10px 2px rgba(0, 0, 0, 0.5)
  }
  .item:hover{
    background: none;
  }
  .material-icons{
    font-size: 30px;
  }
  .btn-name{
    font-size: 10px;
  }
  .dropdown{
    display: none;
  }
}
@media (max-width: 550px) {
  .dropdown-content {
    position: fixed;
    right: 10px;
    bottom: 70px;
    border-radius: 10px;
  }
}
